.modal.fade#create-plan-modal(tabindex="-1", role="dialog", aria-labelledby="modal-label"
    aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        a#close-modal(href='#' data-dismiss='modal', aria-hidden='true') &times;
        h4#modal-label.modal-title Create Trello Board
      .modal-body
        form.pure-form.pure-form-stacked
          fieldset
            input#create-board-name.modal-default.modal-input(type="text", placeholder="Name", name="name")
            input#create-board-description.modal-input(type="text", placeholder="Description",
              name="description")
            input#create-board-organization.modal-input(type="text", placeholder="Organization", name="org")
      .modal-footer
        button.pure-button.pure-button-primary(type="button", data-modal="ok") OK
        button.pure-button(type="button", data-modal="cancel") Cancel
