@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?etmjb5');
    src:    url('fonts/icomoon.eot?etmjb5#iefix') format('embedded-opentype'),
        url('fonts/icomoon.woff2?etmjb5') format('woff2'),
        url('fonts/icomoon.ttf?etmjb5') format('truetype'),
        url('fonts/icomoon.woff?etmjb5') format('woff'),
        url('fonts/icomoon.svg?etmjb5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-Muzhack_logo2:before {
    content: "\e900";
}
.icon-Muzhack_logo1:before {
    content: "\e901";
}
.icon-trello:before {
    content: "\e601";
}
.icon-file-zip:before {
    content: "\e9b9";
}
.icon-puzzle4:before {
    content: "\ec1f";
}
.icon-cloud-download:before {
    content: "\ec73";
}
.icon-cloud-download2:before {
    content: "\ec77";
}
.icon-download2:before {
    content: "\ec7a";
}
.icon-download3:before {
    content: "\ec7b";
}
.icon-file-text:before {
    content: "\e922";
}
.icon-pencil3:before {
    content: "\e910";
}
.icon-image2:before {
    content: "\e93c";
}
.icon-book:before {
    content: "\e990";
}
.icon-file-text2:before {
    content: "\e99b";
}
.icon-tags2:before {
    content: "\e9f1";
}
.icon-credit-card:before {
    content: "\ea15";
}
.icon-envelop3:before {
    content: "\ea32";
}
.icon-calendar:before {
    content: "\ea5f";
}
.icon-undo:before {
    content: "\eaa2";
}
.icon-redo:before {
    content: "\eaa3";
}
.icon-user:before {
    content: "\eaf4";
}
.icon-quotes-left:before {
    content: "\eb18";
}
.icon-search:before {
    content: "\eb2d";
}
.icon-bin:before {
    content: "\ebfa";
}
.icon-list-numbered:before {
    content: "\ec55";
}
.icon-list2:before {
    content: "\ec57";
}
.icon-link:before {
    content: "\ec96";
}
.icon-question:before {
    content: "\ed50";
}
.icon-cross:before {
    content: "\ed69";
}
.icon-enter3:before {
    content: "\ed77";
}
.icon-exit3:before {
    content: "\ed78";
}
.icon-ruler:before {
    content: "\ee7f";
}
.icon-bold:before {
    content: "\ee94";
}
.icon-italic:before {
    content: "\ee96";
}
.icon-code:before {
    content: "\eece";
}
.icon-twitter:before {
    content: "\eeed";
}
.icon-github:before {
    content: "\ef0d";
}
.icon-soundcloud:before {
    content: "\ef20";
}
.icon-settings:before {
    content: "\e600";
}

