[submodule "lib/pagedown"]
	path = lib/pagedown
	url = git@github.com:aknuds1/pagedown.git
[submodule "lib/dropzone"]
	path = lib/dropzone
	url = git@github.com:aknuds1/dropzone.git
[submodule "lib/html-to-react"]
	path = lib/html-to-react
	url = git@github.com:aknuds1/html-to-react.git
[submodule "lib/react-autocomplete"]
	path = lib/react-autocomplete
	url = git@github.com:aknuds1/react-autocomplete.git
