[submodule "lib/pagedown"]
	path = lib/pagedown
	url = git@github.com:aknuds1/pagedown.git
[submodule "lib/dropzone"]
	path = lib/dropzone
	url = git@github.com:aknuds1/dropzone.git
[submodule "services/image-processor"]
	path = services/project-processor
	url = git@github.com:muzhack/image-processor.git
