<template name="layout">
  <header>
    <nav id="menu" class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
      <a class="pure-menu-heading" href="/">{{appName}}</a>
      <ul>
        {{#each menuElements}}
        <li {{attrs}}><a href="{{url}}">{{name}}</a></li>
        {{/each}}
      </ul>

      {{> accountbar}}
    </nav>
  </header>
  <article id="content">
    {{> yield}}
  </article>
  <footer>
    <p>
      This is an early prototype of MusitechHub, intended for soliciting feedback.
    </p>
    <p>
      Made with the excellent <a href="http://meteor.com/">Meteor</a> framework. © 2015 Arve Knudsen
    </p>
  </footer>
  <!-- {{> modals }} -->
  <!-- {{> contextMenus }} -->
</template>
