<template name="layout">
  <header>
    <nav id="menu" class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
      <div class="pure-g">
        <div class="pure-u-1-5">
          <div class="pure-menu-heading">
            <a href="/">{{appName}}</a>
          </div>
        </div>
        <div class="pure-u-4-5">
          {{#if isLoggedIn}}
          <div class="pull-right">
            {{> accountbar}}
          </div>
          {{/if}}
        </div>
      </div>
    </nav>
  </header>
  <article class="content">
    {{> yield}}
  </article>
  <footer>
    Made with the excellent <a href="http://meteor.com/">Meteor</a> framework. © 2015 Arve Knudsen
  </footer>
  <!-- {{> modals }} -->
  <!-- {{> contextMenus }} -->
</template>
