<template name="layout">
  <header>
    <nav id="menu" class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
      <a class="pure-menu-heading" href="/">{{appName}}</a>
      {{#if isLoggedIn}}
      <ul>
        {{#each menuElements}}
        <li {{attrs}}><a href="{{url}}">{{name}}</a></li>
        {{/each}}
      </ul>
      {{/if}}

      {{#if isLoggedIn}}
      <div class="pull-right">
        {{> accountbar}}
      </div>
      {{/if}}
    </nav>
  </header>
  <article class="content">
    {{> yield}}
  </article>
  <footer>
    Made with the excellent <a href="http://meteor.com/">Meteor</a> framework. © 2015 Arve Knudsen
  </footer>
  <!-- {{> modals }} -->
  <!-- {{> contextMenus }} -->
</template>
