+googletagmanager
header
  nav#menu.pure-menu.pure-menu-open.pure-menu-fixed.pure-menu-horizontal
    a.pure-menu-heading(href="/") #{appName}
    ul
      each menuElements
        li($dyn=attrs)
          a(href=url $dyn=linkAttrs) #{name}
    .pull-right
      .search-box
        span#navbar-do-search.search-icon.icon-search.muted
        input#navbar-search-input(placeholder="Search MuzHack", value=searchQuery)
        if hasSearchQuery
          span#navbar-clear-search.clear-icon.icon-cross.muted
      +accountbar
article
  #content
    +yield
footer
  p MuzHack beta, enjoy responsibly.
  p © 2015 #[a(href='http://arveknudsen.com' target='_blank') Arve Knudsen]
  p
    a(href="mailto:contact@muzhack.com", target="_blank") Contact
  a(href="https://flattr.com/submit/auto?user_id=muzhack&url=https://github.com/muzhack/muzhack&title=MuzHack&description=MuzHack&tags=muzhack,programming&category=text")
    img(src="https://api.flattr.com/button/flattr-badge-large.png", alt="Flattr MuzHack")

+tooltips
