header
  nav#menu.pure-menu.pure-menu-open.pure-menu-fixed.pure-menu-horizontal
    a.pure-menu-heading(href="/") #{appName}
    ul
      each menuElements
        li($dyn=attrs)
          a(href=url) #{name}
    +accountbar
article
  #content
    +yield
footer
  p MuzHack beta, enjoy responsibly.
  p © 2015 Arve Knudsen
+modals
//- +contextMenus
