@require 'common.import'

padding-horizontal = 3em
padding-vertical = 1em
padding-top = 20px
grey-background = #E3E6E7
border-color = #6F6F6F
action-color = black
action-hover-color = rgba(0, 0, 0, 0.6)

body
  background-color body-background
  color black

a
  color blue-color
  &:focus
    outline none

article
  background linear-gradient(to bottom, #d2d2d2, #E8E8E8 40%, body-background)

#content
  padding-bottom 60px

  // TODO: Make responsive
  width 1170px
  margin-left auto
  margin-right auto
  border-radius 10px
  padding-top 36px
  padding-left 0px
  padding-right 0px

#menu
  z-index 1000
  border-bottom 0px
  background-color menu-background
  .pure-menu-heading
    color menu-color
    margin-top 0.2em
    a
      color menu-color
      padding 0
      border-width 0

  a
    color menu-color
    &:focus
      background-color: menu-background
    &:hover
      background-color rgb(51, 51, 51)

  li
    &.pure-menu-selected
      a
        background-color #111111
        -webkit-box-shadow inset 0 3px 8px rgba(0, 0, 0, 0.125)
        -moz-box-shadow inset 0 3px 8px rgba(0, 0, 0, 0.125)
        box-shadow inset 0 3px 8px rgba(0, 0, 0, 0.125)
        color menu-color

footer
  border-top 1px solid border-color
  padding 1em
  text-align center
  font-size 80%

.upper
  text-transform uppercase

.small
  font-size 11px

.border-btm
  border-bottom 1px solid border-color

.light-padding
  padding 7px

.airy-padding-sides
  padding-left 20px
  padding-right 20px

.file-explorer
  padding-left 0px
  .menu-item
    display block
    margin-bottom 3px
    cursor pointer
    padding-left 40px
    &.selected
      background-color #3E4A50

.contextmenu
  padding-top 5px
  padding-bottom 5px
  padding-left 23px
  padding-right 23px
  background-color menu-background

  ul
    padding 0
    margin 0
  .contextmenu-item
    display block
    cursor pointer
    color action-color
    &:hover
      color action-hover-color

.pull-right
  float right

.pure-form
  legend
    display none

.pure-button
  rounded-corners()

  color black
  background-color #DEDEDE

  &:hover
    background-image linear-gradient(transparent, rgba(0,0,0,.05) 40%, rgba(0,0,0,.1))
  &:active
    box-shadow 0 0 0 1px rgba(0,0,0,.15) inset, 0 0 6px rgba(0,0,0,.2) inset
    box-shadow 0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0, 0, 0,.2) inset

.pure-button-primary
  color white
  background-color blue-color

  &:hover
    background-image linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1))
  &:active
    box-shadow 0 0 0 1px rgba(0,0,0,.15) inset, 0 0 6px rgba(0,0,0,.2) inset
    box-shadow 0 0 0 1px rgba(0,0,0,.25) inset, 0 0 6px rgba(0,0,0,.3) inset

.tabs
  display inline-block
  .tab
    &.active
      background-color #111111
    padding 10px
    rounded-corners-top()
    display inline-block
    cursor pointer

a.action
  color action-color
  text-decoration: none

  &:hover
    color action-hover-color

input
  rounded-corners()

  background-color content-background
  color black
  border 1px solid black
  padding 4px

a.social-link
  text-decoration none
  font-size 3em
  color black

  [class^="icon-"], div[class*=" icon-"]
    margin-left 0.15em
    margin-right 0.15em

.paypal-button
  background transparent
  padding 0 4px

  &:focus
    outline none

#donations
  display flex
  align-items center
  justify-content center
