menu-background = #272F32
border-radius = 4px
menu-color = #FF14F6

rounded-corners()
  border-radius border-radius

rounded-corners-top()
  border-radius border-radius border-radius 0px 0px

pad-base()
  rounded-corners()
  box-sizing border-box
  background-color menu-background
  border 2px solid menu-background
  box-shadow 2px 2px 13px 1px #2C2C2C
