@require 'common.import'

#create-project-pad
  pad-base()

  padding 20px
  margin 25px
  margin-bottom 0

  &>:first-child
    margin-top 0

  input, select
    box-sizing border-box
    width 300px

#create-buttons
  margin-top 20px
