@require 'common.import'

editor-margin = 14px

#create-pad
  pad-base()

  padding: 20px
  margin 25px

  #editor-container
    margin-top editor-margin
    margin-bottom editor-margin

    & > h1
      margin-top 0

    .ace_editor
      width auto
      height 500px

  #create-buttons
    margin-top 20px

  .project-input
    margin-bottom 6px
