@require 'common.import'

#edit-project-pad
  pad-base()

  padding 20px
  margin 25px
  margin-bottom 0

  &>:first-child
    margin-top 0

editor()
  margin-top 16px
  h2
    margin-top 0
    margin-bottom 8px
    font-size 1.4em

.ace_editor
  width: auto

#description-editor
  editor()

  .ace_editor
    height: 100px

#instructions-editor
  editor()

  .ace_editor
    height: 500px

#pictures-editor
  editor()

#remove-project
  color black
  text-decoration none
