@import 'common.import'

#explore-pad
  pad-base()

  margin 25px

#isotope-container
  padding-top 20px
  padding-bottom 20px

.project-item
  rounded-corners()

  padding 20px
  border-style solid
  border-width 1px
  width 200px
  height 100px
  margin 10px
  box-shadow 2px 2px 13px 1px #1D1C1C
