@import 'common.import'

radius = 4px

#explore-pad
  pad-base()

  margin 25px
  margin-bottom 0

  .search-box
    .search-icon
      top 27px
      left 20px

    .clear-icon
      top 27px
      right 575px

    input
      padding-left 28px
      padding-right 28px

#isotope-container
  padding-top 20px
  padding-bottom 20px

.project-item
  rounded-corners()

  box-sizing border-box
  padding 0
  border-style solid
  border-width 1px
  width 218px
  height 218px
  margin 10px
  box-shadow 2px 2px 13px 1px #1D1C1C
  border-color rgba(0, 0, 0, 0.54)

  a
    text-decoration none

.project-item-header
  padding 8px
  background-color black
  color #E2E2E2
  border-radius 3px 3px 0 0

.project-item-title
  font-size 14px
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

.project-item-author
  font-size 12px
  color #AFAFAF

.project-item-image
  width 216px
  height 170px
  border-radius 0 0 2px 2px

#explore-search-input
  margin-top 20px
  margin-left 11px
  box-sizing border-box
  width 500px
