@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?3py9sc');
	src:url('fonts/icomoon.eot?3py9sc#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff2?3py9sc') format('woff2'),
		url('fonts/icomoon.ttf?3py9sc') format('truetype'),
		url('fonts/icomoon.woff?3py9sc') format('woff'),
		url('fonts/icomoon.svg?3py9sc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-header:before {
	content: "\f1dc";
}
.icon-trello:before {
	content: "\e601";
}
.icon-creative-commons-attribution:before {
	content: "\e602";
}
.icon-creative-commons-noncommercial-us:before {
	content: "\e605";
}
.icon-creative-commons-sharealike:before {
	content: "\e603";
}
.icon-creative-commons:before {
	content: "\e604";
}
.icon-file-zip:before {
	content: "\e9b9";
}
.icon-puzzle4:before {
	content: "\ec1f";
}
.icon-cloud-download:before {
	content: "\ec73";
}
.icon-cloud-download2:before {
	content: "\ec77";
}
.icon-download2:before {
	content: "\ec7a";
}
.icon-download3:before {
	content: "\ec7b";
}
.icon-file-text:before {
	content: "\e922";
}
.icon-pencil3:before {
	content: "\e910";
}
.icon-image2:before {
	content: "\e93c";
}
.icon-book:before {
	content: "\e990";
}
.icon-file-text2:before {
	content: "\e99b";
}
.icon-tags2:before {
	content: "\e9f1";
}
.icon-envelop3:before {
	content: "\ea32";
}
.icon-calendar:before {
	content: "\ea5f";
}
.icon-undo:before {
	content: "\eaa2";
}
.icon-redo:before {
	content: "\eaa3";
}
.icon-user:before {
	content: "\eaf4";
}
.icon-quotes-left:before {
	content: "\eb18";
}
.icon-search:before {
	content: "\eb2d";
}
.icon-bin:before {
	content: "\ebfa";
}
.icon-list-numbered:before {
	content: "\ec55";
}
.icon-list2:before {
	content: "\ec57";
}
.icon-link:before {
	content: "\ec96";
}
.icon-question:before {
	content: "\ed50";
}
.icon-cross:before {
	content: "\ed69";
}
.icon-enter3:before {
	content: "\ed77";
}
.icon-exit3:before {
	content: "\ed78";
}
.icon-ruler:before {
	content: "\ee7f";
}
.icon-bold:before {
	content: "\ee94";
}
.icon-italic:before {
	content: "\ee96";
}
.icon-code:before {
	content: "\eece";
}
.icon-twitter:before {
	content: "\eeed";
}
.icon-github:before {
	content: "\ef0d";
}
.icon-settings:before {
	content: "\e600";
}

