@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-g52wq4');
	src:url('fonts/icomoon.eot?#iefix-g52wq4') format('embedded-opentype'),
		url('fonts/icomoon.woff2?-g52wq4') format('woff2'),
		url('fonts/icomoon.woff?-g52wq4') format('woff'),
		url('fonts/icomoon.ttf?-g52wq4') format('truetype'),
		url('fonts/icomoon.svg?-g52wq4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-file-zip:before {
	content: "\e9b9";
}

.icon-file-zip2:before {
	content: "\e9ba";
}

.icon-cc:before {
	content: "\e9ec";
}

.icon-puzzle3:before {
	content: "\ec1e";
}

.icon-puzzle4:before {
	content: "\ec1f";
}

.icon-cloud-download:before {
	content: "\ec73";
}

.icon-cloud-download2:before {
	content: "\ec77";
}

.icon-download2:before {
	content: "\ec7a";
}

.icon-download3:before {
	content: "\ec7b";
}

.icon-file-text:before {
	content: "\e922";
}

.icon-pencil2:before {
	content: "\e90f";
}

.icon-pencil3:before {
	content: "\e910";
}

.icon-undo:before {
	content: "\eaa2";
}

.icon-redo:before {
	content: "\eaa3";
}

.icon-undo2:before {
	content: "\eabc";
}

.icon-redo2:before {
	content: "\eabd";
}

.icon-bin:before {
	content: "\ebfa";
}

.icon-bin2:before {
	content: "\ebfb";
}

.icon-enter3:before {
	content: "\ed77";
}

.icon-exit3:before {
	content: "\ed78";
}

.icon-settings:before {
	content: "\e600";
}
