@require 'common.import'

.modal-header
  display flex
  background-color menu-background
  color white

#modal-label
  margin auto

#close-modal
  text-decoration none
  color white
  margin-right 10px

.modal-body
  display flex
  padding 30px

#modal-message
  margin auto

.modal-footer
  display flex
  margin 0

  .pure-button
    margin-right 3px

@media screen and (min-width: screen-md)
  .modal-dialog
    left 50%
    right auto
    width 600px
    padding-top 30px
    padding-bottom 30px

// .modal-content
//   @include box-shadow(0 5px 15px rgba(0,0,0,.5));

.modal-dialog
  form
    width 100%

  fieldset
    padding 0

  .modal-input, .modal-select
    width 100%
