@import 'common.import'

.modal-header
  display flex
  background-color menu-background
  color white

#modal-label
  margin auto

#close-modal
  text-decoration none
  color white
  margin-right 10px

.modal-body
  display flex
  padding 30px

#modal-message
  margin auto

.modal-footer
  display flex
  margin 0

  .pure-button
    margin-right 3px
