@require 'common.import'

#project-pad
  pad-base()

  padding 20px
  margin 25px
  :first-child
    margin-top 0

  #project-text
    rounded-corners()

    border-style solid
    border-width 1px
    padding 20px

    :first-child
      margin-top 0
      margin-bottom 0

#tag-pad
  pad-base()
  margin 25 px
  padding-bottom 20px
