@require 'common.import'

margin = 25px

#project-pad
  pad-base()

  padding 20px
  margin margin

  :first-child
    margin-top 0

  #project-text
    rounded-corners()

    border-style solid
    border-width 1px
    padding 20px

    :first-child
      margin-top 0
      margin-bottom 0

#right-column
  margin-top margin
  margin-bottom margin
  margin-right margin

#tag-pad
  pad-base()
  padding-bottom 20px
