.search-box
  position relative

  .search-icon
    position absolute
    top 27px
    left 20px
    cursor pointer

  .clear-icon
    position absolute
    top 27px
    right 575px
    cursor pointer

  input
    padding-left 28px
    padding-right 28px
