@require 'common.import'

#user-pad
  pad-base()

  padding 20px
  margin 25px
  margin-bottom 0

  &>:first-child
    margin-top 0

  // TODO: Consolidate with project
  .tabs
    color muted
    border-bottom 1px solid muted

    li
      a
        color muted

    li.active
      border-left 1px solid muted
      border-right 1px solid muted
      border-top 1px solid muted

#user-name
  ellipsis-overflow()

  font-size 2em
  font-weight bold

#user-username
  ellipsis-overflow()

  font-size 1.3em

#plan-buttons
  margin 0
  margin-bottom 20px

#create-plan-modal
  fieldset
    margin 0
    padding 0
  input
    width 300px
