@require 'common.import'

#user-pad
  pad-base()

  padding 20px
  margin 25px
  margin-bottom 0

  &>:first-child
    margin-top 0

  // TODO: Consolidate with project
  .tabs
    color muted
    border-bottom 1px solid muted

    li
      a
        color muted

    li.active
      border-left 1px solid muted
      border-right 1px solid muted
      border-top 1px solid muted

#user-name
  ellipsis-overflow()

  font-size 2em
  font-weight bold

#user-username
  ellipsis-overflow()

  font-size 1.3em

#plan-buttons
  margin 0
  margin-bottom 20px

#create-plan-modal
  fieldset
    margin 0
    padding 0

#user-projects
  width 100%
  text-align left
  margin 0
  padding 0

  thead
    border-bottom 1px solid black

    th
      padding 8px
      padding-top 0

  tbody
    tr
      border-bottom 1px solid black

      td
        padding 8px

#planned-projects
  list-style none
  margin 0
  padding 0

#planned-projects
  margin-top 20px

.user-project, .planned-project, .close-project-plan, .remove-project-plan, .edit-project-plan
  text-decoration none
  color black
