#create-pad.airy-padding-sides
  .pure-g
    .pure-u-1
      .pure-g.project-input
        .pure-u-2-24
          label
            ID
        .pure-u-22-24
          input#input-id(placeholder="The ID of your project")
      .pure-g
        .pure-u-2-24.project-input
          label
            Title
        .pure-u-22-24
          input#input-title(placeholder="The title of your project")
    .pure-u-1
      #editor-container
        +mandrill_ace
    .pure-u-1
      .pure-g
        .pure-u-2-24
          label
            Tags
        .pure-u-22-24
          #input-tags(placeholder="Comma separated tags")
  #create-buttons.button-group
    input#create-button.pure-button.pure-button-primary(type="submit" value="Create")
