<template name="displayProject">
  {{#if isLoggedIn}}
  <a id="edit-action" class="action pull-right" href="#"><span class="icon-pencil3"></span></a>
  {{/if}}
  <div id="project-heading">
    <h1 id="project-title">{{title}}</h1>
    <p id="project-creation-date">Added {{creationDateString}} by {{userFullName}}</p>
  </div>
  <div id="image-box">
    <div id="thumbnails">
      <a href="#">
        <div class="thumbnail-wrapper">
          <img src="/images/revox-reel-to-reel.jpg" />
        </div>
      </a>
    </div>
    <div id="displayed-image">
      <img src="/images/revox-reel-to-reel.jpg" />
    </div>
  </div>
  <div id="project-contents">
    <ul class="tabs" role="tablist">
      {{#each projectTabs}}
      <li class="{{classes}}">
        <a role="tab" href="#{{title.toLowerCase}}">{{title}}</a>
      </li>
      {{/each}}
    </ul>
    <div id="tab-contents">
      {{#if displayDescription}}
      <div id="description">
        {{#markdown}}{{text}}{{/markdown}}
      </div>
      {{/if}}
      {{#if displayInstructions}}
      <div id="instructions">
        {{#markdown}}{{instructions}}{{/markdown}}
      </div>
      {{/if}}
      {{#if displayFiles}}
      {{> projectFiles}}
      {{/if}}
    </div>
  </div>
</template>
