#project-top-pad.airy-padding-sides
  .input-group
    input#title-input(placeholder="Project title" value="#{title}")
  .input-group
    input#tags-input(placeholder="Project tags" value="#{tagsString}")
    span.icon-tags2
  #description-editor
    h2 Description
    +descriptionEditor
  #instructions-editor
    h2 Instructions
    +instructionsEditor
  #edit-buttons
    button#save-project.pure-button.pure-button-primary Save
    button#cancel-edit.pure-button Cancel
    a#remove-project(href="#") Remove this project
