<template name="explore">
  <div class="pure-g">
    <div class="pure-u-1">
      <div id="explore-pad" class="airy-padding-sides">
        {{#if isEmpty}}
        <p>No documents have been added yet. Get working!</p>
        {{else}}
        <div id="isotope-container">
          {{#each projects}}
          <a href="{{projectUrl}}">
            <div class="project-item">
              <div class="project-item-header">
                <div class="project-item-title">{{title}}</div>
                <div class="project-item-author">by {{owner}}</div>
              </div>
              <img class="project-item-image" src="images/revox-reel-to-reel-resized.jpg" />
            </div>
          </a>
          {{/each}}
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>
