.pure-g
  .pure-u-1
    #explore-pad.airy-padding-sides
      if isEmpty
        p No projects have been added yet.
      else
        input#explore-search-input(placeholder="Search", value=searchQuery)
        #isotope-container
