.pure-g-r
  .pure-u-1-5
  .pure-u-3-5
    unless showRedirect
      .login-pad 
        .login-header 
          .login-prompt Find your #{appName} Account
        form#forgotpassword-form.pure-form.pure-form-stacked(action="action")
          fieldset
            legend Account info
            input#account-email.account-email(autofocus type="email" placeholder="email")
          .button-group 
            input#submit-button.pure-button.pure-button-primary(type="submit" value="Search")
            button#cancel-button.pure-button Cancel
    else
      #password-reset-page
        p.
          You should've been sent an email to reset your password.
          You're being redirected to the login page in #{remainingSecondsString}...
