<template name="forgotPassword">
  <div class="pure-g-r">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5">
      {{#unless showRedirect}}
      <div class="login-pad">
        <div class="login-header">
          <div class="login-prompt">Find your {{appName}} Account</div>
        </div>
        <form id="forgotpassword-form" action="action" class="pure-form pure-form-stacked">
          <fieldset>
            <legend>Account info</legend>
            <input id="account-email" autofocus type="email" class="account-email" placeholder="email"/>
          </fieldset>
          <div class="button-group">
            <input type="submit" class="pure-button pure-button-primary" id="submit-button" value="Search"/>
          </div>
        </form>
      </div>
      {{else}}
      <div id="password-reset-page">
        <p>
          You should've been sent an email to reset your password.
          You're being redirected to the login page in {{remainingSecondsString}}...
        </p>
      </div>
      {{/unless}}
    </div>
  </div>
</template>