<template name="login">
  <div class="pure-g-r">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5">
      <div class="login-pad">
        <div class="login-header">
          <div class="login-prompt">Welcome to {{appName}}</div>
          <div class="tabs">
            <div class="tab {{#if showSignIn}}active{{/if}}" id="login-signin-tab">Sign In</div>
            <div class="tab {{#if showSignUp}}active{{/if}}" id="login-signup-tab">Sign Up</div>
          </div>
        </div>
        {{#if showSignIn}}
        <form id="signin-form" action="action" class="pure-form pure-form-stacked">
          <fieldset>
            <legend>Account info</legend>
            <input id="signin-email" autofocus type="email" class="account-email" placeholder="email"/>
            <input type="password" class="account-password" placeholder="password"/>
          </fieldset>
          <div class="button-group">
            <input type="submit" class="pure-button pure-button-primary" id="login-button" value="Sign in"/>
          </div>
        </form>
        {{/if}}
        {{#if showSignUp}}
        <form id="signup-form" action="action" class="pure-form pure-form-stacked">
          <fieldset>
            <legend>Account info</legend>
            <input id="signup-email" autofocus type="email" class="account-email" placeholder="email"/>
            <input type="password" class="account-password" placeholder="password"/>
            <input type="password" class="account-password-confirm" placeholder="confirm password"/>
          </fieldset>
          <div class="button-group">
            <input type="submit" class="pure-button pure-button-primary" id="signup-button" value="Sign up"/>
          </div>
        </form>
        {{/if}}
      </div>
    </div>
    <div class="pure-u-1-5"></div>
  </div>
</template>