<template name="projectFiles">
  {{#if hasFiles}}
  <button id="download-zip-button" class="pure-button">Download zip ({{zipFileSize}})</button>
  <table id="project-files-table">
    <thead>
      <tr>
        <th>Filename</th>
        <th>Size</th>
      </tr>
    </thead>
    <tbody>
    {{#each files}}
    <tr>
      <td><a href="{{url}}">{{filename}}</a></td>
      <td><a href="{{url}}">{{sizeStr}}</a></td>
    </tr>
    {{/each}}
    </tbody>
  </table>
  {{else}}
  <em>The project has no files.</em>
  {{/if}}
</template>
