<template name="project">
  <div class="pure-g">
    <div class="pure-u-5-5 airy-padding-sides">
      <h1 id="project-title">{{projectPath}}</h1>
    </div>
    <div class="pure-u-4-5">
      <div id="project-pad" class="airy-padding-sides">
        {{#unless isEditing}}
        {{> displayProject}}
        {{else}}
        {{> editProject}}
        {{/unless}}
      </div>
    </div>
    <div class="pure-u-1-5">
      <div id="right-column">
        <div id="tag-pad" class="airy-padding-sides">
          <h2>Tags</h2>
          {{#unless isEditing}}
          <div id="project-tags">
            {{tagsString}}
          </div>
          {{else}}
          <input id="tags-input" placeholder="Project tags" value="{{tagsString}}" />
          {{/unless}}
        </div>
      </div>
    </div>
  </div>
</template>
