<template name="project">
  <div class="airy-padding-sides">
    <h1 id="project-path">{{projectPath}}</h1>
  </div>
  <div id="project-pad" class="airy-padding-sides">
    {{#unless isEditing}}
    {{> displayProject}}
    {{else}}
    {{> editProject}}
    {{/unless}}
  </div>
  <div id="right-column">
    <div id="tag-pad" class="airy-padding-sides">
      <h2>Tags</h2>
      {{#unless isEditing}}
      <div id="project-tags">
        {{tagsString}}
      </div>
      {{else}}
      <input id="tags-input" placeholder="Project tags" value="{{tagsString}}" />
      {{/unless}}
    </div>
  </div>
</template>
