.pure-g-r
  .pure-u-1-5
  .pure-u-3-5
    unless showRedirect
      .login-pad 
        .login-header 
          .login-prompt Reset Password
        form#reset-password-form.pure-form.pure-form-stacked(action="action")
          fieldset
            legend Password
            input#account-password.account-password(type="password" placeholder="password" autofocus
              required)
            input#account-password-confirm.account-password-confirm(type="password" 
              placeholder="confirm password" required)
          .button-group 
            input#submit-button.pure-button.pure-button-primary(type="submit" value="Reset Password")
    else
      #password-reset-page
        p.
          Thank you. Your password has been successfully reset.
          You're being redirected to the home page in #{remainingSecondsString}...
