@require './views/_common'

action-color = black
action-hover-color = rgba(0, 0, 0, 0.6)

#container
  visibility visible

input
  rounded-corners()

  background-color content-background
  color black
  border 1px solid black
  padding 4px

input[type="button"],input[type="image"]
  border 0

.muted
  color #737373

.small
  font-size 11px

.pure-form
  legend
    display none

.pull-right
  float right

.button-group
  .pure-button + .pure-button
    margin-left 4px

.pure-button
  rounded-corners()

  color black
  background-color #DEDEDE

  &:hover
    background-image linear-gradient(transparent, rgba(0,0,0,.05) 40%, rgba(0,0,0,.1))
  &:active
    box-shadow 0 0 0 1px rgba(0,0,0,.15) inset, 0 0 6px rgba(0,0,0,.2) inset
    box-shadow 0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0, 0, 0,.2) inset

.pure-button-primary
  color white
  background-color blue-color

  &:hover
    background-image linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1))
  &:active
    box-shadow 0 0 0 1px rgba(0,0,0,.15) inset, 0 0 6px rgba(0,0,0,.2) inset
    box-shadow 0 0 0 1px rgba(0,0,0,.25) inset, 0 0 6px rgba(0,0,0,.3) inset

.action
  color action-color
  text-decoration: none

  &:hover
    color action-hover-color
    cursor pointer

.transparent-button
  border 0
  padding 0
  background white

  &:focus
    outline none
