@require './views/_common'

.icon-Muzhack_logo1
  font-size 18px

menu-background = #272F32
menu-color = #E2E2E2
border-color = #6F6F6F
search-font-size = 12px

body
  background-color body-background
  color black

a
  color blue-color
  &:focus
    outline none

article
  background linear-gradient(to bottom, #d2d2d2, #E8E8E8 40%, body-background)

form
  margin 0

#content
  @media screen and (min-width: 1170px)
    max-width 1170px
    margin-left auto
    margin-right auto

  border-radius 10px
  padding-top 36px
  padding-left 0px
  padding-right 0px

#menu
  padding-top 0.2em
  display flex
  z-index 1000
  border-bottom 0px
  background-color menu-background

  .pure-menu-heading
    color menu-color
    a
      color menu-color
      padding 0
      border-width 0

  a
    color menu-color
    &:focus
      background-color: menu-background
    &:hover
      background-color rgb(51, 51, 51)

  li
    &.pure-menu-selected
      a
        background-color #111111
        -webkit-box-shadow inset 0 3px 8px rgba(0, 0, 0, 0.125)
        -moz-box-shadow inset 0 3px 8px rgba(0, 0, 0, 0.125)
        box-shadow inset 0 3px 8px rgba(0, 0, 0, 0.125)
        color menu-color

footer
  border-top 1px solid border-color
  padding 1em
  text-align center
  font-size 80%

a.social-link
  text-decoration none
  font-size 3em
  color black

  [class^="icon-"], div[class*=" icon-"]
    margin-left 0.15em
    margin-right 0.15em

.paypal-button
  background transparent
  padding 0 4px

  &:focus
    outline none

#donations
  display flex
  align-items center
  justify-content center

.accountbar
  padding-left 20px
  padding-right 30px
  margin-left auto

  .toolbar-btn
    display inline-block
    padding-left 6px
    padding-right 6px
    color action-hover-color
    &.enabled:hover
      color action-hover-color
    &.enabled:active
      -webkit-box-shadow inset 0 3px 8px rgba(0, 0, 0, 0.125)
      -moz-box-shadow inset 0 3px 8px rgba(0, 0, 0, 0.125)
      box-shadow inset 0 3px 8px rgba(0, 0, 0, 0.125)
      background-color #111111
    &.disabled
      color #5F2D5D
      cursor default

#menu
  .search-box
    display inline-block

    .search-icon
      position absolute
      top 7px
      left 7px
      font-size search-font-size

    .clear-icon
      position absolute
      top 7px
      right 7px
      font-size search-font-size

#navbar-search-input
  padding-left 21px
  padding-right 21px
  width 250px
  font-size search-font-size
  &:focus
    outline: none
