@require '../_common'
@require '../_tabs'

margin = 25px
padding = 20px

subtle-shadow()
  box-shadow 2px 2px 13px 1px #0D0D0D

#project-top-pad
  pad-base()
  airy-padding-sides()

  display inline-block
  width 720px
  padding padding
  margin margin
  margin-bottom 0

  &>:first-child
    margin-top 0

#project-top-elements
  display flex

#project-controls
  margin-left auto

#edit-project-action
  align-self center
  margin-left 4px

#project-bottom-pad
  pad-base()
  airy-padding-sides()

  padding padding
  margin margin
  margin-top 16px
  margin-bottom 60px

  .tabs
    tabs-base()

    color muted
    border-bottom 1px solid muted

    li
      a
        color muted

      &.active
        border-left 1px solid muted
        border-right 1px solid muted
        border-top 1px solid muted

#tab-contents
  padding padding
  img
    max-width 100%

#description,#instructions
  rendered-markdown()

  &>:first-child
    margin-top 0

#right-column
  box-sizing border-box
  display inline-block
  vertical-align top
  width 370px
  margin-top margin
  margin-bottom margin
  margin-right margin

#tag-pad
  pad-base()
  airy-padding-sides()

  padding-bottom padding

#license-pad
  pad-base()
  airy-padding-sides()

  margin-top 14px
  padding-bottom padding

  p
    margin 0
    margin-top 8px

#license-icons
  font-size 40px

  a
    text-decoration none
    color #ABABAB

#edit-buttons
  margin-top 20px

#project-title
  margin-top 0
  margin-bottom 0

#project-creation-date
  margin-top 4px

#project-path
  margin-bottom 0
  margin-top 20px
  padding-left padding
  text-shadow 3px 3px 10px #9E9E9E

#image-box
  width 620px
  margin-left auto
  margin-right auto
  margin-bottom 30px

#displayed-image
  rounded-corners()
  overflow hidden
  width 500px
  height 409px
  display inline-block
  subtle-shadow()

  img
    width 100%
    height 100%

#thumbnails
  display inline-block
  margin-right 14px
  vertical-align top

.thumbnail-wrapper
  rounded-corners()
  subtle-shadow()

  cursor pointer
  overflow hidden
  width 100px
  height 82px
  margin-bottom 4px

  img
    width 100%
    height 100%

cell-padding = 8px

#project-files-table
  width 100%
  text-align left

  thead
    border-bottom 1px solid black
    padding 4px 0

    th
      padding cell-padding
      padding-top 0

  tbody
    tr
      border-bottom 1px solid black

      td
        padding cell-padding

    a
      color black
      text-decoration none

#download-zip-button
  margin-bottom 10px

.input-group
  margin-bottom 8px

#go-to-store
  display inline-block

#bill-of-materials-header
  display inline-block

#bill-of-materials
  margin-bottom 20px

  :first-child
    margin-top 0

#instructions-container
  :first-chid
    margin-top 0
