@require '../_common'
@require '../_tabs'

margin = 25px
padding = 20px

subtle-shadow()
  box-shadow 2px 2px 13px 1px #0D0D0D

#project-pad
  pad-base()

  margin-top 20px
  // Ensure that child margins don't collapse within borderless elements
  overflow auto
  padding 40px

  &>:first-child
    margin-top 0

#project-top-elements
  display flex

#project-controls
  margin-left auto

#edit-project-action
  align-self center
  margin-left 4px

#project-bottom-section
  margin-top 30px

  .tabs
    tabs-base()

    color muted
    border-bottom 1px solid muted

    li
      a
        color muted

      &.active
        border-left 1px solid muted
        border-right 1px solid muted
        border-top 1px solid muted

#tab-contents
  padding padding
  padding-bottom 0

  img
    max-width 100%

#description, #instructions
  rendered-markdown()

  > div
    > :first-child
      margin-top 0

#project-left-column
  padding-right 30px
  border-right 1px solid black
  border-color muted

#project-right-column
  box-sizing border-box
  vertical-align top
  padding-left 20px
  padding-bottom 60px

  :first-child
    margin-top 0

#license-icons
  font-size 40px

  a
    text-decoration none
    color #ABABAB

#edit-buttons
  margin-top 20px

#project-title
  margin-top 0
  margin-bottom 0

#project-creation-date
  margin-top 4px

#project-path
  max-width-mixin()

  margin-bottom 0
  margin-top 20px
  padding-left padding
  text-shadow 3px 3px 10px #d8d8d8

#image-box
  rounded-corners()

  width 100%
  margin-bottom 30px
  max-height 400px
  overflow hidden

#main-image
  rounded-corners()

  width 100%

#thumbnails
  display inline-block
  margin-right 14px
  vertical-align top

.thumbnail-wrapper
  rounded-corners()
  subtle-shadow()

  cursor pointer
  overflow hidden
  width 100px
  height 82px
  margin-bottom 4px

  img
    width 100%
    height 100%

cell-padding = 8px

#project-files-table
  width 100%
  text-align left

  thead
    border-bottom 1px solid black
    padding 4px 0

    th
      padding cell-padding
      padding-top 0

  tbody
    tr
      border-bottom 1px solid black

      td
        padding cell-padding

    a
      color black
      text-decoration none

#download-zip-button
  margin-bottom 10px

.input-group
  margin-bottom 8px

#go-to-store
  display inline-block

#bill-of-materials-header
  margin 0
  display inline-block

#bill-of-materials
  border-bottom 1px solid muted

  :first-child
    margin-top 1em

  & + hr
    margin-top 10px
    margin-bottom 10px
    background-color muted

#instructions-container
  > div
    > :first-child
      margin-top 0

.instructions-file
  font-size 26px

#tag-section
  padding-bottom 10px
  margin-bottom 20px

  a
    text-decoration none
    color black

#control-bom-visibility
  font-size 1em

#file-links
  border-bottom 1px solid muted
  padding-bottom 10px
  margin-bottom 10px
