@require '../_common'

.store-item-list
  list-style none

  li
    border-top 1px solid #e0e0e0
    padding-top 20px
    padding-bottom 20px

  li:first-child
    border-top 0
    padding-top 0

  li:last-child
    padding-bottom 0

.store-item
  display flex

.store-item-contents
  display flex

.store-item-image
  width 100px
  height 100px

.store-item-title
  font-size 24px
  margin-bottom 6px

.store-item-contents-left
  width 400px

.store-item-contents-right
  margin-left 40px

.store-item-buy
  font-size 24px

.store-item-description
  p:first-child
    margin-top 0

.store-item-stock
  margin-top 6px
