@require '_common'

tabs-base()
  list-style none
  width 100%
  padding 0
  border-bottom 1px solid black
  margin 0
  display inline-block

  li
    padding 10px 25px
    margin 0
    display inline-block
    margin-bottom -1px
    border 1px solid transparent

    [role="tab"]
      cursor pointer

    a
      text-decoration none
      color black

    &:first-child
      border-radius 4px 0 0 0

    &.active
      border-left 1px solid black
      border-right 1px solid black
      border-top 1px solid black
      border-top-left-radius 4px
      border-top-right-radius 4px
      background-color content-background

      a
        color black

    &.disabled
      a:hover
        cursor default

  .tab
    rounded-corners-top()

    padding 10px
    display inline-block
    cursor pointer

    &.active
      background-color #111111
