@require '_common'

.dropzone
  rounded-corners()

  background-color menu-background
  border 0

  .dz-preview.dz-image-preview
    background-color menu-background

.dz-remove
  color #E0E0E0

.dz-message
  color white
