@require '_common'

wmd-border = #ccc

editor()
  margin-top 16px
  h2
    margin-top 0
    margin-bottom 8px
    font-size 1.4em

  .remove-all
    cursor pointer
    color #e0e0e0

#description-editor
  editor()

#instructions-editor
  editor()

#pictures-editor
  editor()

#files-editor
  editor()

.wmd-button-bar
  rounded-corners-top()

  width 100%
  background-color transparent
  border 1px solid wmd-border
  box-sizing border-box
  margin 0 0 0 0
  padding 0

.wmd-input
  rounded-corners-bottom()

  width 100%
  height 200px
  background-color white
  border 1px solid wmd-border
  border-top 0
  padding 10px
  resize none
  box-sizing border-box

  &:focus
    outline 0
    border 1px solid #07c

.wmd-preview
  rendered-markdown()

  margin-top 28px
  margin-bottom 28px
  padding 10px 0
  border-top 1px dotted wmd-border
  border-bottom 1px dotted wmd-border
  width 100%

.wmd-button-row
  position relative
  padding 0
  margin 0
  height 36px
  padding 0 12px

.wmd-spacer
  width 1px
  height 100%
  margin-left 14px

.wmd-button
  width 20px
  height 20px
  padding-left 2px
  padding-right 3px
  cursor default
  color grey

  &.enabled
    color black
    cursor pointer

    &:hover
      color #0a83dc

.wmd-prompt-background
  background-color Black

.wmd-prompt-dialog
  rounded-corners()

  background-color #fff
  padding 15px
  border solid 1px #aaa
  box-shadow 2px 2px 13px 1px #403F3F

  input
    padding 8px 10px

.wmd-prompt-dialog > div
  font-size 0.8em
  font-family arial, helvetica, sans-serif

.wmd-prompt-dialog > form > input[type="text"]
  border 1px solid #999999
  color black

.wmd-prompt-dialog > form > input[type="button"]
  border 1px solid #888888
  font-family trebuchet MS, helvetica, sans-serif
  font-size 0.8em
  font-weight bold

.wmd-help-container
  background-color #fff7e5
  font-size 14px
  transition height 0.25s ease-in-out

.wmd-help-row
  padding 6px
  border-top 1px solid wmd-border

.wmd-help-content
  padding 6px 12px
  border-top 1px solid wmd-border

  pre
    background-color #f3eed5
    padding 5px
    margin 0
    margin-bottom 1em

  .spaces
    background-color #fff

  .col-container
    display flex

  .col1
    width 48%

  .col2
    width 48%
    margin-left auto

.wmd-help-item
  &.selected
    background-color #fefae2
