@require '_common'
@require '_searchbox'

.search-box
  search-box()

  margin-top 20px

  .search-icon
    top 6px
    left 9px

#explore-search-input
  border 1px solid #000
  box-shadow 1px 1px 3px 1px #cecece
  padding-left 28px
  padding-right 28px
  margin 0
  box-sizing border-box
  width 100%

  &:focus
    outline: none

.clear-icon
  top 6px
  right 635px

#explore-pad
  pad-base()

  padding-left 35px
  padding-right 35px

  .grid-sizer, .project-item
    width 100%

    @media screen and (min-width: 35.5em)
      width 49.5%

    @media screen and (min-width: 60em)
      width 32.5%

  .gutter-sizer
    width 1%

  .projects-container
    padding 24px 0
    margin 0

  .project-item
    rounded-corners()

    box-sizing border-box
    padding 0
    overflow hidden
    border 1px solid #E1E3DF
    border-radius 4px

    a
      text-decoration none

  .project-item-header
    padding 8px
    background-color black
    color #E2E2E2

  .project-item-title
    font-size 14px
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

  .project-item-author
    font-size 12px
    color #AFAFAF

  .project-item-image
    width 100%
    display block
