doctype html
html
  head
    meta(charset="utf-8")
    each attrs in metaAttributes
      meta&attributes(attrs)
    title MuzHack
    link(rel='icon' href='/assets/images/MuzHack-favicon.png')
    style.
      #container {visibility:hidden}
  body
    #fb-root
    #initial-state(data-json=initialState)
    article
      block content
    script(src="https://js.stripe.com/v2/")
    script#facebook-jssdk(src="//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6")
    script.
      (function () {
        FB.init({
          version: 'v2.6',
          status: true,
        })
      }())
    script(src="/muzhack.bundle.js")
