@require '../_common'
@require '../_tabs'

tab-color = #4C4C4C

#user-pad
  pad-base()

  padding 20px

  #user-avatar
    img
      rounded-corners()
      max-width 100%

  & >:first-child
    margin-top 0

  // TODO: Consolidate with project
  .tabs
    tabs-base()

    color muted
    border-bottom 1px solid muted

    li
      a
        color tab-color
      &.disabled
        color muted
      &.active
        border-left 1px solid
        border-right 1px solid tab-color
        border-top 1px solid tab-color

#user-name
  ellipsis-overflow()

  font-size 2em
  font-weight bold

#user-username
  ellipsis-overflow()

  font-size 1.3em

#vcard
  padding-right 15px

  a
    text-decoration none
    color black

  .vcard-detail
    overflow hidden
    text-overflow ellipsis
    padding 2px 0

#tab-contents
  & >:first-child, .markdown-root >:first-child
    margin-top 0

  padding-top 24px
  padding-left 5px
  padding-right 5px

#soundcloud-uploads
  list-style none
  padding 0
  margin 0

#soundcloud-header
  color #f50

#user-upcoming-workshops, #user-past-workshops
  >h2
    margin-top 0

  >table
    td
      padding 4px
